<html>
<head>
    <link rel="Stylesheet" type="text/css" href="%root_path%style.css" />
    <title>%title%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <a href="%root_path%index.html">Index</a> |
    <a href="%root_path%Questions.html">Questions</a> |
    <a href="%root_path%Creed.html">Creed</a> |
    <a href="%root_path%diary/diary.html">Diary</a>
    <hr>
    <div class="content">
    %content%
    </div>
    <hr>
    <p>Copyright &copy; 2003-Present Kyle Eggleston</p>

    <p style="font-size:8pt;">... and their innocent blood on the floor of Carthage jail is a 
    broad seal affixed to "Mormonism" that cannot be rejected by any 
    court on earth ... D&amp;C 135:7</p>
</body>
</html>
